
  .text{
  color:rgba(255,0,255,1);
  background-color:rgb(50,30,122);

  font-size:30px ;
  font-family: courier;
  font-weight:normal;
  font-style:italic;
    
  border: 4px solid yellow;
  box-shadow: 20px 15px 15px purple;
  width: 400px ;
  height: 30px;

  margin-left: 10%;
  margin-right: 14%;
  margin-top: 5%;
  margin-bottom: 6%;

  padding: 2% 4%;
  text-align:center;
  text-shadow:10px 5px 5px yellow ;
}

.a{
padding-left: 15%;
padding-right:15%
}

.imageblock2{
  border:2px solid lightblue;
  width:100%;
  height:250px;
}

.image21{

  width: 50% ;
  height:100px;

  box-shadow: 15px 10px red ;
  border: 5px solid yellow;
  border-radius: 25px ;
  padding-left:15px;
  margin-bottom:4%;


  filter:grayscale(10);
}


.image22{
  width: 50% ;
 height:100px;
  border: 2px solid purple;
  border-radius: 50% ;

  box-shadow: 10px 10px pink ;

  padding: 15px 25px;
 float:left;
  opacity: 0.5;
  filter:contrast(30);
}
.subblock1{
 float:left;
 width:30%;
 margin-left: 2%;
}


.textblock{
float:left;
width:30%
}


.subblock3{
 float:left;
 width:30%;
 margin-right:2%;
}
