
        body {
            height: 200vh;
            background: linear-gradient(to top right, purple, lightyellow);
        }

        .box1 {
            border: 1px solid transparent;
            height: 300px;
            width: 100%;
        }

        .img1 {
            width: 11%;
            height: 30px;
            float: left;
        }

        .box2 {
            border: 1px solid transparent;
            width: 100%;
            height: 400px;
        }

        .sub1 {
            width: 38%;
            height: 300px;
            border: 1px solid transparent;
            margin-left: 8%;
            float: left;
        }

        .sub2 {
            text-align: center;
        }

        .para {
            font-weight: bold;
            color: white;
            font-family: cursive;

            font-size: 38px;
            padding-bottom: 2%;
            padding-left: 15%;
        }

        .check {
            background-color: lightblue;
            border: 2px solid yellow;
            padding: 14px;
            font-size: 20px;
            color: white;
            margin-top: 4%;
            font-weight: bold;

        }

        .text {
            border: 2px solid white;
            background: transparent;
            margin-top: 5%;
            color: white;
            text-align: center;
            padding-top: 10%;
            font-size: 45px;
        }

        .head1 {
            width: 45%;
            height: 50px;
            border: 1px solid transparent;
            color: white;
            font-family: cursive;
            font-size: 40px;
            margin-top: 2%;
            float: left;

        }

        .but {
            padding: 4px;
            float: right;
            margin-top: 4%;
        }

        .guess {
            border: 2px solid transparent;
            height: 45px;
            width: 50%;
            color: white;
            font-weight: bold;
            font-size: 35px;
            margin-top: 10%;
            margin-left: 37%;
            margin-right: 30%;
        }

        .guessbox {
            height: 80px;
            width: 15%;
            border: 2px solid green;
            margin-left: 40%;
            margin-top: 1%;
            margin-right: 40%;
            background-color: white;

            text-align: center;
            padding-top: 17px;
            font-weight: bold;
            font-size: 40px;
            position: absolute;
            top: 25%;

        }

        .line {
            margin-top: 4.5%;
            border: 3px solid white;
            position: relative;

        }
       .prevg {
            font-weight: bold;
            color: yellow;
            font-family: cursive;

            font-size: 34px;
            padding-bottom: 2%;

        }
