 .clock{
    height:600px;
     width:70%;
     margin-left:15%;
     margin-right:15%;
     position:relative;
     background-repeat: no-repeat;
     background-color:lightblue;
   }

   .hand1{

     height:60px;
     position:absolute;
     left:500px; top:45%;

     animation-name:move1;
     animation-duration: 10s;
     animation-delay:2s;
     animation-fill-mode: forwards;


     }

     
     
     .hand2{
       height:60px;
       width:25%;
       left:500px; top:45%;
        
       position:absolute;
       animation-name:move2;
       animation-duration: 8s;
       animation-delay:2s;
       animation-fill-mode: forwards;

     }



@keyframes move1{

  0%{

      transform-origin:left;
      transform: rotate(0deg);
}
100%{
  

      transform-origin:left;
      transform: rotate(30deg);


  } }
  @keyframes move2{
    0%{ 
      transform-origin:left;
      transform: rotate(-90deg);
    }
  100%{
    transform-origin:left;
    transform: rotate(270deg);

    } }
