 .clock{
    height:500px;
     width:60%;
     margin-left:10%;
     position:relative;
     background-repeat: no-repeat;
     background-color:lightblue;
   }

   .hand1{

     height:60px;
     position:absolute;
     left:400px; top:45%;

     animation-name:move1;
     animation-duration: 10s;
     animation-delay:2s;
     animation-fill-mode: forwards;

     /* marks the ending position   */
     }

     
     
     .hand2{
       height:60px;
       width:25%;
       left:400px; top:45%;
        
       position:absolute;
       animation-name:move2;
       animation-duration: 8s;
       animation-delay:2s;
            animation-fill-mode: forwards;

     }


/* @keyframes for animations:
define time, position and contents, but we already have the contents so define time, position
here top remains same, left space changes,
which element uses it */
@keyframes move1{

  0%{

      transform-origin:left;
      transform: rotate(0deg);
}
100%{
  

      transform-origin:left;
      transform: rotate(30deg);


  } }
  @keyframes move2{
    0%{ 
      transform-origin:left;
      transform: rotate(-90deg);
    }
  100%{
    transform-origin:left;
    transform: rotate(270deg);

    } }
